In [1]:
# SQLAlchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
# Pandas
import pandas as pd

import os

# Path to sqlite
# database_path = "../Resources/Census_Data.sqlite"
database_path = os.path.join("Resources", "Census_Data.sqlite")

In [2]:
# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")

In [6]:
# Get the name of the table. 
inspector = inspect(engine)
inspector.get_table_names()

['Census_Data']

In [8]:
# Using the inspector to print the column names within the 'Census_Data' table and its types
columns = inspector.get_columns('Census_Data')
for column in columns:
    print(column)

{'name': 'CityState', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'city', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'state', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Population', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'White Population', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Black Population', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Native American Population', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Asian Population', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Hispanic Population', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Education None', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Education High School', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Education GED', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Education Associates', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Education Bachelors', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Education Masters', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Education Professional', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Education Doctorate', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Poverty', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Employment Labor Force', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Employment Unemployed', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Employment Male Computer Engineering', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Employment Female Computer Engineering', 'type': INTEGER(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Median Age', 'type': FLOAT(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Median Male Age', 'type': FLOAT(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Median Female Age', 'type': FLOAT(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Household Income', 'type': FLOAT(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Income Per Capita', 'type': FLOAT(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Median Gross Rent', 'type': FLOAT(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Median Home Value', 'type': FLOAT(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'lat', 'type': FLOAT(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'lng', 'type': FLOAT(), 'nullable': True, 'default': 'NULL', 'autoincrement': 'auto', 'primary_key': 0}

In [10]:
# Get the column names for the table
for column in columns:
    print(column["name"])

CityState
city
state
Population
White Population
Black Population
Native American Population
Asian Population
Hispanic Population
Education None
Education High School
Education GED
Education Associates
Education Bachelors
Education Masters
Education Professional
Education Doctorate
Poverty
Employment Labor Force
Employment Unemployed
Employment Male Computer Engineering
Employment Female Computer Engineering
Median Age
Median Male Age
Median Female Age
Household Income
Income Per Capita
Median Gross Rent
Median Home Value
lat
lng

In [11]:
# Query All Records in the the Database
data = engine.execute("SELECT * FROM Census_Data")
for row in data:
    print(row)

H', 'NEWARK', 'OH', 60866, 56208, 1750, 59, 331, 636, 333, 14138, 2065, 3451, 4701, 1663, 271, 206, 12067, 30425, 2603, 829, 306, 37.7, 35.5, 40.1, 41367.0, 22866.0, 684.0, 121500.0, 40.119897, -82.377784)
('AUBURN, AL', 'AUBURN', 'AL', 60814, 41754, 13250, 67, 4166, 2669, 186, 3875, 720, 1755, 8976, 4452, 985, 2285, 19136, 31630, 2165, 1362, 640, 25.95, 24.95, 27.45, 36586.5, 24885.0, 807.5, 168150.0, 32.5609335, -85.5392915)
('CARROLLTON, GA', 'CARROLLTON', 'GA', 60772, 44745, 12385, 229, 671, 5050, 788, 9471, 2529, 1890, 4550, 1771, 601, 504, 13361, 28482, 3399, 594, 189, 28.73333333, 28.33333333, 29.03333333, 41364.5, 15286.66667, 810.5, 114750.0, 33.564943, -85.07971367)
('WILSON, NC', 'WILSON', 'NC', 60753, 27757, 26080, 337, 725, 6294, 714, 10018, 1998, 3544, 5685, 2108, 257, 239, 14815, 28423, 3165, 565, 336, 38.45, 37.0, 39.85, 44250.0, 23110.5, 767.5, 129850.0, 35.739857, -77.9367045)
('RIVERDALE, GA', 'RIVERDALE', 'GA', 60738, 7745, 47615, 276, 2807, 5677, 585, 10491, 1213, 3720, 4790, 1852, 327, 240, 13862, 32132, 4787, 239, 343, 33.5, 30.75, 36.4, 43745.0, 18987.5, 992.5, 78900.0, 33.558873, -84.420419)
('MALDEN, MA', 'MALDEN', 'MA', 60725, 32848, 8863, 112, 14820, 6246, 1149, 11640, 1217, 2964, 7861, 4696, 731, 861, 9480, 35317, 3407, 2435, 717, 35.7, 35.0, 36.7, 54883.0, 26574.0, 1288.0, 330000.0, 42.42938, -71.058706)
('GRIFFIN, GA', 'GRIFFIN', 'GA', 60719, 37710, 20452, 255, 647, 2255, 781, 11676, 3076, 2494, 4126, 1423, 670, 364, 13860, 25261, 3081, 539, 108, 38.6, 36.35, 40.25, 39780.0, 20317.5, 792.5, 115350.0, 33.246647, -84.259825)
('LUTZ, FL', 'LUTZ', 'FL', 60719, 51662, 4145, 275, 2328, 10592, 280, 7542, 1159, 4172, 10518, 4266, 865, 975, 5747, 32809, 2245, 1152, 464, 40.5, 40.25, 41.075, 67208.25, 33891.5, 951.25, 229025.0, 28.152678, -82.463614)
('CROWN POINT, IN', 'CROWN POINT', 'IN', 60717, 52893, 2762, 51, 1255, 5525, 231, 12670, 1280, 4029, 9487, 2531, 657, 300, 3411, 31783, 2259, 839, 234, 40.4, 39.7, 41.2, 69790.0, 32392.0, 950.0, 187700.0, 41.403937, -87.326039)
('SAN PABLO, CA', 'SAN PABLO', 'CA', 60627, 28654, 11059, 340, 10678, 27430, 1895, 8430, 1001, 3141, 5133, 1368, 303, 224, 10254, 29777, 3295, 569, 172, 34.2, 33.6, 35.1, 52014.0, 21909.0, 1199.0, 246800.0, 37.98079, -122.337627)
('SKOKIE, IL', 'SKOKIE', 'IL', 60576, 36809, 3812, 103, 17072, 5768, 1277, 7662, 969, 3008, 11740, 5685, 1348, 800, 7184, 31306, 2478, 1330, 459, 43.6, 41.55, 45.75, 64198.5, 30272.5, 1128.0, 266200.0, 42.035003, -87.743558)
('MERIDEN, CT', 'MERIDEN', 'CT', 60557, 47996, 6458, 301, 964, 15285, 545, 14780, 1808, 3545, 5439, 2396, 499, 247, 8667, 32989, 3543, 946, 275, 39.95, 39.05, 40.75, 53902.0, 28424.0, 950.0, 178550.0, 41.538859, -72.7995475)
('BRISTOL, CT', 'BRISTOL', 'CT', 60554, 52745, 2091, 190, 1157, 7511, 367, 13361, 1896, 3616, 7331, 2776, 455, 202, 6241, 33765, 3111, 1354, 486, 41.6, 38.8, 43.6, 61478.0, 31709.0, 894.0, 194600.0, 41.681578, -72.940749)
('SOUTH JORDAN, UT', 'SOUTH JORDAN', 'UT', 60489, 55130, 397, 68, 1616, 3635, 84, 5350, 520, 3808, 9587, 3901, 698, 460, 2100, 30009, 1114, 1725, 410, 31.4, 31.1, 31.6, 93984.0, 31368.0, 1408.0, 332200.0, 40.557499, -111.979453)
('EASLEY, SC', 'EASLEY', 'SC', 60459, 53435, 4486, 328, 394, 2044, 390, 11038, 2205, 4640, 5686, 2120, 478, 223, 8002, 29726, 2480, 799, 217, 40.6, 39.8, 41.15, 49590.5, 23708.0, 728.5, 136600.0, 34.8273265, -82.5695715)
('LAKE FOREST, CA', 'LAKE FOREST', 'CA', 60449, 39956, 1296, 175, 7673, 17219, 802, 6558, 632, 3876, 11691, 3641, 831, 608, 5360, 34792, 1959, 2328, 751, 39.2, 37.4, 41.2, 82769.0, 36310.0, 1674.0, 504200.0, 33.645736, -117.685503)
('PONTIAC, MI', 'PONTIAC', 'MI', 60328, 23868, 30636, 178, 1132, 10074, 583, 10143, 1935, 2379, 2917, 1015, 258, 91, 20901, 28143, 5329, 488, 181, 32.93333333, 31.9, 34.06666667, 28206.0, 15955.66667, 750.0, 53800.0, 42.64711033, -83.28623)
('WHEATON, IL', 'WHEATON', 'IL', 60263, 52872, 2358, 33, 3376, 2804, 336, 4402, 404, 2452, 14120, 7608, 1517, 925, 3679, 32752, 1811, 1816, 411, 38.65, 36.75, 40.1, 89319.5, 43057.5, 1222.0, 340500.0, 41.856676, -88.117233)
('HEMPSTEAD, NY', 'HEMPSTEAD', 'NY', 60216, 12599, 27394, 62, 1231, 24678, 755, 10074, 1340, 2444, 4083, 2047, 375, 175, 11203, 31651, 2767, 327, 230, 27.35, 26.65, 28.0, 57003.0, 12971.5, 1292.0, 314300.0, 40.709382, -73.6119415)
('GILROY, CA', 'GILROY', 'CA', 60203, 43284, 1213, 412, 3302, 35158, 1147, 6418, 715, 3444, 6392, 2245, 537, 301, 8616, 30974, 2910, 1019, 305, 34.1, 32.6, 35.8, 83858.0, 31078.0, 1418.0, 513300.0, 37.018419, -121.554249)
('MAGNOLIA, TX', 'MAGNOLIA', 'TX', 60182, 53011, 913, 224, 734, 11340, 321, 8681, 1969, 2764, 7749, 2301, 317, 441, 6620, 31031, 2625, 1312, 260, 37.95, 37.3, 38.95, 77550.5, 33473.5, 1054.0, 196350.0, 30.1865575, -95.698237)
('ALEXANDRIA, LA', 'ALEXANDRIA', 'LA', 60067, 24557, 32633, 201, 1508, 1235, 522, 11343, 2504, 1861, 4563, 1897, 743, 460, 14578, 26046, 2882, 406, 147, 37.0, 34.6, 39.03333333, 36814.33333, 20446.66667, 741.6666667, 126400.0, 31.25083167, -92.461557)
('ANNANDALE, VA', 'ANNANDALE', 'VA', 60058, 36871, 4196, 230, 12871, 14633, 917, 6306, 447, 2293, 10906, 6509, 1507, 1125, 5340, 33177, 1841, 2332, 964, 39.4, 38.2, 40.4, 95698.0, 39320.0, 1558.0, 497000.0, 38.829817, -77.215318)
('ROCKLIN, CA', 'ROCKLIN', 'CA', 59896, 48298, 1103, 512, 5151, 7852, 224, 5874, 688, 5238, 10780, 3391, 913, 270, 5048, 31188, 2727, 1568, 486, 37.8, 36.35, 38.7, 78321.5, 34771.0, 1352.0, 344150.0, 38.8033115, -121.257513)
('SAINT CLAIR SHORES, MI', 'SAINT CLAIR SHORES', 'MI', 59843, 55047, 2950, 149, 524, 1009, 302, 12283, 1266, 4484, 7035, 2720, 612, 252, 5846, 31353, 2784, 930, 313, 44.26666667, 41.43333333, 46.96666667, 53657.66667, 29133.33333, 919.3333333, 95366.66667, 42.495705, -82.892803)
('CRYSTAL LAKE, IL', 'CRYSTAL LAKE', 'IL', 59828, 55852, 1008, 35, 1452, 5628, 242, 6966, 725, 3058, 11500, 4893, 882, 493, 3360, 33867, 2151, 1586, 347, 42.25, 41.85, 42.7, 101569.5, 42049.0, 1592.5, 255600.0, 42.252453, -88.3207665)
('LOGANVILLE, GA', 'LOGANVILLE', 'GA', 59699, 43915, 12490, 57, 661, 4047, 413, 10017, 1437, 3830, 6009, 1905, 461, 404, 5212, 30159, 2434, 924, 471, 36.0, 33.8, 37.8, 64492.0, 24554.0, 1106.0, 152500.0, 33.815151, -83.893561)
('WAKE FOREST, NC', 'WAKE FOREST', 'NC', 59691, 49221, 7348, 198, 1062, 3360, 298, 5885, 967, 3578, 12306, 4695, 915, 772, 4140, 30038, 1683, 2224, 779, 37.9, 37.4, 38.3, 84086.0, 35297.0, 974.0, 265200.0, 35.986719, -78.554351)
('LANCASTER, OH', 'LANCASTER', 'OH', 59566, 56704, 1257, 25, 329, 1031, 375, 14383, 1925, 3840, 5027, 1997, 426, 126, 9220, 28034, 2315, 585, 121, 39.9, 38.2, 42.6, 44529.0, 23652.0, 735.0, 133300.0, 39.696463, -82.614717)
('HIGHLAND, CA', 'HIGHLAND', 'CA', 59501, 35552, 7008, 537, 4997, 25730, 1007, 8561, 1238, 3125, 4221, 2486, 573, 301, 10686, 26523, 3146, 418, 170, 34.8, 34.3, 35.7, 59722.0, 22990.0, 944.0, 242500.0, 34.126779, -117.183104)
('OWINGS MILLS, MD', 'OWINGS MILLS', 'MD', 59435, 28541, 23630, 178, 4741, 4181, 266, 5777, 852, 2849, 11766, 5322, 1826, 885, 4731, 34068, 1775, 2001, 1308, 34.8, 33.3, 35.9, 75369.0, 39329.0, 1335.0, 274500.0, 39.427563, -76.777976)
('DANVILLE, VA', 'DANVILLE', 'VA', 59368, 32997, 23672, 71, 621, 1458, 804, 10058, 2149, 4116, 4747, 1950, 484, 309, 12179, 27552, 2996, 499, 123, 43.55, 41.2, 45.55, 36427.0, 22005.0, 615.0, 102500.0, 36.611664, -79.4709255)
('PETERSBURG, VA', 'PETERSBURG', 'VA', 59312, 21840, 34887, 58, 745, 2563, 766, 12237, 2230, 2171, 4067, 2177, 212, 233, 12437, 29298, 3468, 570, 214, 39.6, 38.0, 40.15, 41269.5, 21734.5, 893.0, 143500.0, 37.1739505, -77.4503425)
('CHESTERFIELD, MO', 'CHESTERFIELD', 'MO', 59303, 51305, 1659, 46, 4917, 1617, 52, 4292, 300, 2025, 15076, 8798, 2807, 1345, 2768, 29244, 1325, 1819, 756, 45.6, 44.6, 46.65, 122941.0, 60757.5, 1039.5, 432650.0, 38.6477615, -90.5913115)
('WEST DES MOINES, IA', 'WEST DES MOINES', 'IA', 59259, 50545, 2388, 98, 4086, 3672, 115, 5643, 414, 3730, 14734, 4928, 1390, 658, 4523, 35932, 1357, 2840, 803, 34.8, 35.1, 34.5, 70527.0, 41729.0, 892.0, 196250.0, 41.5615845, -93.771599)
('HILLIARD, OH', 'HILLIARD', 'OH', 59179, 51052, 2358, 18, 3658, 2295, 265, 6992, 911, 3011, 12199, 4476, 1215, 719, 4912, 33075, 1212, 2245, 736, 34.8, 33.9, 35.3, 77013.0, 34804.0, 856.0, 184200.0, 40.02085, -83.194413)
('MEDFORD, MA', 'MEDFORD', 'MA', 59166, 46670, 5422, 145, 4512, 3558, 451, 9466, 786, 2848, 9818, 6185, 1274, 1271, 5881, 35168, 2030, 2535, 1279, 35.3, 34.4, 36.1, 76596.0, 36323.0, 1477.0, 400900.0, 42.42384, -71.107673)
('OZONE PARK, NY', 'OZONE PARK', 'NY', 59040, 19389, 4072, 99, 18435, 24036, 1800, 10457, 1918, 2952, 5847, 1854, 456, 273, 9939, 30573, 3381, 447, 199, 35.15, 33.8, 36.15, 60224.5, 22549.0, 1344.5, 440000.0, 40.68055, -73.8469955)
('CLAYTON, NC', 'CLAYTON', 'NC', 58873, 47197, 8462, 374, 392, 5396, 282, 8712, 1846, 5095, 7169, 2079, 274, 161, 3907, 31056, 2500, 1643, 407, 36.25, 35.0, 37.35, 66374.0, 26826.0, 1023.0, 178900.0, 35.63684, -78.4293705)
('HOWELL, MI', 'HOWELL', 'MI', 58863, 56408, 343, 137, 624, 1312, 128, 9476, 1199, 3895, 8167, 3154, 349, 220, 3730, 30937, 1829, 1478, 372, 40.35, 39.5, 41.0, 72124.0, 31143.5, 947.0, 187050.0, 42.628398, -83.910299)
('CHICAGO HEIGHTS, IL', 'CHICAGO HEIGHTS', 'IL', 58786, 20575, 28972, 131, 201, 14186, 585, 10339, 1329, 3066, 3941, 1530, 294, 104, 15418, 27786, 5238, 178, 78, 33.8, 32.4, 36.1, 41188.0, 19350.0, 895.0, 102900.0, 41.508774, -87.590314)
('GOLDEN, CO', 'GOLDEN', 'CO', 58745, 54566, 392, 215, 1344, 4382, 102, 5601, 1294, 2779, 12452, 6663, 1732, 1407, 5339, 32084, 1548, 2865, 1287, 40.9, 38.65, 43.5, 84864.5, 48238.5, 1159.0, 389350.0, 39.761364, -105.2461367)
('ROYAL OAK, MI', 'ROYAL OAK', 'MI', 58698, 53418, 2099, 39, 1960, 1493, 149, 6991, 497, 3452, 13927, 6652, 1985, 762, 4271, 37647, 1934, 3487, 579, 37.25, 35.45, 39.45, 65956.5, 41191.0, 933.5, 166650.0, 42.504881, -83.150943)
('COLTON, CA', 'COLTON', 'CA', 58684, 36727, 4519, 499, 2415, 41920, 1074, 7867, 1120, 2536, 2467, 1019, 301, 254, 12613, 27488, 3825, 379, 76, 29.2, 27.7, 30.2, 42257.0, 16761.0, 1004.0, 168500.0, 34.02452, -117.289255)
('LOMPOC, CA', 'LOMPOC', 'CA', 58646, 38925, 3251, 889, 1875, 27293, 699, 7527, 1594, 3979, 4191, 1647, 366, 173, 9675, 27108, 3168, 1233, 222, 29.05, 28.9, 29.4, 55847.0, 21595.0, 1310.5, 253400.0, 34.6668165, -120.448203)
('GOSHEN, IN', 'GOSHEN', 'IN', 58615, 52718, 1153, 72, 494, 11349, 571, 10034, 2192, 2067, 5145, 2304, 326, 185, 8908, 28709, 2049, 546, 225, 34.3, 33.35, 35.15, 50576.5, 21681.0, 730.5, 135050.0, 41.5796525, -85.830763)
('LAKE CITY, FL', 'LAKE CITY', 'FL', 58514, 43623, 11652, 203, 543, 3377, 466, 11240, 3131, 3770, 3711, 1592, 468, 177, 10233, 25226, 3429, 420, 175, 39.4, 37.53333333, 42.03333333, 42209.0, 20385.33333, 791.6666667, 103866.6667, 30.15640467, -82.644747)
('COEUR D ALENE, ID', 'COEUR D ALENE', 'ID', 58404, 55260, 198, 527, 500, 2819, 188, 8361, 1759, 4543, 7125, 2236, 467, 315, 7817, 29198, 2342, 934, 96, 38.65, 35.7, 41.9, 46228.0, 26780.5, 830.5, 210500.0, 47.7059845, -116.708858)
('BRENTWOOD, CA', 'BRENTWOOD', 'CA', 58399, 42532, 3200, 378, 4723, 14783, 636, 6743, 782, 4477, 8361, 1747, 671, 241, 4338, 27918, 2103, 937, 328, 37.9, 35.7, 40.0, 92731.0, 34592.0, 1910.0, 396100.0, 37.922228, -121.668359)
('GREENSBURG, PA', 'GREENSBURG', 'PA', 58276, 54463, 1986, 60, 670, 769, 320, 12900, 1772, 4204, 8621, 3677, 832, 552, 6137, 29244, 1488, 1185, 329, 46.2, 44.0, 48.2, 52145.0, 31159.0, 660.0, 157300.0, 40.314981, -79.534803)
('FRESH MEADOWS, NY', 'FRESH MEADOWS', 'NY', 58233, 21707, 3732, 120, 25889, 10148, 1422, 8649, 1121, 3746, 9306, 4565, 1116, 625, 8024, 28437, 2626, 1252, 192, 40.8, 40.8, 40.55, 66003.0, 29795.0, 1482.0, 622100.0, 40.733893, -73.7897545)
('STATESBORO, GA', 'STATESBORO', 'GA', 58214, 35789, 18659, 205, 1235, 2340, 214, 5901, 826, 1837, 5325, 2492, 638, 1060, 19178, 27524, 2340, 559, 143, 26.5, 25.76666667, 27.46666667, 42437.0, 14586.0, 759.0, 142300.0, 32.44348, -81.77626933)
('MANCHESTER, CT', 'MANCHESTER', 'CT', 58187, 40276, 7635, 165, 5305, 8448, 342, 8939, 1562, 3915, 9494, 4795, 875, 574, 6808, 33417, 3327, 2287, 768, 35.7, 34.3, 37.4, 65182.5, 33713.5, 1173.5, 186950.0, 41.7820835, -72.523308)
('GOOSE CREEK, SC', 'GOOSE CREEK', 'SC', 58048, 37683, 12801, 334, 2806, 5150, 280, 8863, 1744, 3410, 5389, 2187, 244, 136, 7540, 31811, 2899, 1021, 244, 32.0, 28.8, 34.7, 54248.0, 24111.0, 1005.0, 153300.0, 32.997548, -79.966641)
('SAINT CHARLES, IL', 'SAINT CHARLES', 'IL', 58015, 52626, 836, 115, 1562, 4632, 108, 6542, 844, 2401, 12782, 5496, 894, 550, 2507, 30736, 1285, 1122, 259, 41.7, 39.75, 43.6, 102049.5, 46347.0, 1338.5, 325900.0, 41.93942, -88.3436575)
('CASTRO VALLEY, CA', 'CASTRO VALLEY', 'CA', 57980, 33840, 3668, 187, 14424, 9740, 628, 8335, 509, 3472, 10196, 3807, 1220, 786, 4368, 30651, 2270, 1570, 768, 41.6, 40.35, 42.85, 106236.5, 45857.5, 2018.0, 596200.0, 37.7186145, -122.050547)
('WILMINGTON, CA', 'WILMINGTON', 'CA', 57963, 37931, 1266, 3162, 1423, 52183, 1588, 8726, 700, 1271, 1828, 322, 61, 69, 16717, 27115, 2790, 295, 180, 28.9, 28.0, 29.8, 41569.0, 15005.0, 1006.0, 322500.0, 33.779284, -118.261723)
('SHERMAN OAKS, CA', 'SHERMAN OAKS', 'CA', 57960, 46630, 2915, 207, 4421, 6546, 214, 4757, 256, 3263, 16355, 6124, 2333, 1121, 4899, 37161, 3444, 1431, 584, 39.7, 39.2, 39.85, 79959.0, 57706.5, 1557.0, 773800.0, 34.147883, -118.4483315)
('RICHMOND, KY', 'RICHMOND', 'KY', 57892, 52373, 3211, 357, 601, 1088, 416, 6770, 2252, 1962, 6454, 3340, 490, 813, 11758, 29357, 2631, 889, 337, 33.4, 32.5, 34.3, 41796.0, 22659.0, 643.0, 155300.0, 37.7616, -84.312523)
('PALM DESERT, CA', 'PALM DESERT', 'CA', 57833, 48470, 904, 43, 2723, 13206, 406, 8355, 757, 3917, 10680, 3931, 1559, 698, 6051, 24206, 2251, 413, 106, 57.35, 55.6, 58.6, 54012.5, 41315.0, 1177.0, 319300.0, 33.7367065, -116.368916)
('ATHENS, AL', 'ATHENS', 'AL', 57762, 46821, 7682, 306, 281, 3954, 531, 9800, 3480, 2601, 5317, 2218, 302, 275, 8489, 25288, 2113, 1287, 322, 39.33333333, 39.06666667, 39.56666667, 50107.0, 24124.33333, 628.0, 126866.6667, 34.815905, -86.98555633)
('LAND O LAKES, FL', 'LAND O LAKES', 'FL', 57755, 48379, 4283, 66, 2063, 10137, 302, 7488, 1343, 5331, 8712, 3483, 583, 332, 3058, 28536, 1657, 1263, 286, 38.83333333, 37.23333333, 40.23333333, 74529.33333, 30438.0, 1353.666667, 187166.6667, 28.27667633, -82.46689833)
('NEW BALTIMORE, MI', 'NEW BALTIMORE', 'MI', 57695, 52455, 3005, 61, 615, 1605, 415, 10188, 1614, 4564, 6043, 2294, 314, 217, 4719, 30995, 2426, 1337, 266, 37.7, 35.75, 39.5, 66888.5, 28379.0, 881.0, 150650.0, 42.6837735, -82.7975435)
('PLYMOUTH, MA', 'PLYMOUTH', 'MA', 57658, 53689, 1077, 194, 674, 1199, 167, 10932, 1199, 4390, 9094, 4153, 747, 521, 3786, 31807, 2304, 1201, 281, 44.2, 42.4, 45.8, 76835.0, 37042.0, 1329.0, 323000.0, 41.882056, -70.63129)
('STILLWATER, OK', 'STILLWATER', 'OK', 57598, 45841, 2556, 2479, 3185, 2643, 174, 4549, 952, 1520, 7159, 3719, 580, 1595, 15031, 29733, 1861, 1064, 507, 23.33333333, 23.43333333, 23.23333333, 35365.5, 15490.33333, 756.5, 158250.0, 36.124073, -97.07589933)
('WESTMINSTER, MD', 'WESTMINSTER', 'MD', 57575, 52863, 2723, 82, 739, 2001, 256, 11056, 1251, 2816, 7229, 3606, 778, 420, 4104, 31642, 1654, 1285, 474, 41.15, 40.3, 41.95, 76302.5, 33361.5, 1134.5, 301050.0, 39.601153, -77.009325)
('FOUNTAIN VALLEY, CA', 'FOUNTAIN VALLEY', 'CA', 57508, 30094, 579, 147, 19414, 10129, 830, 6066, 723, 4669, 11080, 3578, 1038, 532, 4775, 29594, 2175, 1891, 634, 43.1, 42.0, 44.4, 81825.0, 34133.0, 1696.0, 613800.0, 33.710582, -117.951129)
('GRETNA, LA', 'GRETNA', 'LA', 57433, 26656, 21468, 395, 2795, 9585, 831, 10877, 1708, 2223, 5003, 1656, 452, 187, 11504, 29141, 2085, 864, 130, 35.3, 34.75, 35.55, 42388.0, 22450.5, 897.5, 154550.0, 29.9004005, -90.040257)
('LEBANON, TN', 'LEBANON', 'TN', 57412, 49307, 4975, 175, 544, 2892, 491, 12128, 2137, 2446, 6094, 1918, 438, 311, 7339, 28445, 2430, 536, 170, 40.55, 39.6, 42.3, 52560.5, 26548.5, 845.5, 174500.0, 36.187796, -86.2842165)
('PISCATAWAY, NJ', 'PISCATAWAY', 'NJ', 57348, 22356, 11507, 91, 20593, 6599, 451, 6903, 565, 2162, 10325, 5380, 615, 690, 3334, 27813, 2320, 2870, 899, 31.8, 30.7, 33.3, 88494.0, 31187.0, 1430.0, 307800.0, 40.54564, -74.460817)
('ROWLETT, TX', 'ROWLETT', 'TX', 57288, 41044, 8556, 142, 4195, 12255, 442, 7408, 873, 3676, 8295, 2721, 476, 358, 3879, 32935, 2294, 1795, 450, 38.55, 35.95, 40.3, 84380.5, 31033.0, 1330.5, 160950.0, 32.9172135, -96.550968)
('SUN CITY, CA', 'SUN CITY', 'CA', 57287, 44773, 2329, 239, 1830, 19195, 520, 11034, 1449, 3239, 4381, 1710, 260, 336, 8498, 24958, 3601, 365, 153, 43.33333333, 41.86666667, 45.13333333, 55891.33333, 23938.33333, 1325.666667, 216266.6667, 33.71656933, -117.207112)
('GRAND FORKS, ND', 'GRAND FORKS', 'ND', 57283, 50645, 1377, 1703, 1493, 1977, 286, 6478, 1289, 3457, 7275, 2696, 697, 677, 10448, 33792, 1248, 929, 220, 25.83333333, 25.56666667, 26.13333333, 45041.5, 20585.0, 761.0, 158100.0, 47.91929133, -97.12628067)
('NEW BRUNSWICK, NJ', 'NEW BRUNSWICK', 'NJ', 57280, 38207, 8207, 157, 5026, 31542, 908, 6661, 435, 899, 3250, 1373, 332, 478, 16878, 25645, 2181, 1020, 460, 23.2, 23.6, 22.8, 38435.0, 14174.0, 1343.0, 242200.0, 40.483638, -74.44246)
('NACOGDOCHES, TX', 'NACOGDOCHES', 'TX', 57113, 42313, 11530, 247, 970, 11577, 643, 6711, 1402, 2067, 4867, 2366, 624, 594, 13385, 26495, 2355, 472, 236, 28.025, 27.625, 28.6, 37197.33333, 16630.25, 736.3333333, 109666.6667, 31.63332525, -94.630291)
('PRESCOTT, AZ', 'PRESCOTT', 'AZ', 57030, 53492, 371, 834, 905, 4512, 123, 7001, 964, 4406, 9476, 5279, 1118, 825, 7524, 22381, 2182, 425, 141, 56.575, 55.45, 56.93333333, 49544.33333, 25175.5, 818.0, 277833.3333, 34.621839, -112.5607165)
('SAN BENITO, TX', 'SAN BENITO', 'TX', 57019, 49507, 105, 117, 136, 53051, 1947, 5898, 1885, 1517, 2194, 505, 82, 112, 21181, 21587, 2341, 160, 12, 30.7, 29.9, 31.7, 28459.0, 11950.0, 545.0, 62000.0, 26.106086, -97.629292)
('SANTA CLARITA, CA', 'SANTA CLARITA', 'CA', 56993, 42716, 1612, 277, 4937, 14318, 301, 6976, 627, 4252, 8942, 3081, 687, 375, 3121, 30180, 2391, 1297, 252, 39.6, 39.25, 40.05, 103380.5, 38164.5, 1617.0, 451450.0, 34.493239, -118.460921)
('OAK LAWN, IL', 'OAK LAWN', 'IL', 56987, 48190, 3436, 27, 1023, 10248, 716, 11607, 1065, 3625, 6658, 2990, 584, 212, 6065, 28479, 2972, 762, 159, 41.0, 37.9, 44.3, 56116.0, 27219.0, 1029.0, 189600.0, 41.713436, -87.75256)
('ROSWELL, NM', 'ROSWELL', 'NM', 56900, 45031, 1075, 759, 519, 30052, 786, 7168, 2240, 3079, 4632, 1861, 290, 216, 12143, 25079, 1880, 467, 159, 35.55, 33.25, 37.55, 41825.5, 21523.0, 712.5, 108900.0, 33.476344, -104.24452)
('LAKE HAVASU CITY, AZ', 'LAKE HAVASU CITY', 'AZ', 56889, 52524, 297, 358, 749, 8547, 327, 13777, 2029, 3921, 3576, 1453, 448, 432, 8165, 22539, 2501, 291, 81, 52.0, 52.1, 51.83333333, 41662.0, 23846.66667, 864.6666667, 187366.6667, 34.49784767, -114.2554)
('ALTAMONTE SPRINGS, FL', 'ALTAMONTE SPRINGS', 'FL', 56883, 42747, 9599, 8, 1629, 13925, 504, 9336, 1755, 4151, 9539, 2865, 618, 386, 8040, 32405, 3062, 1013, 397, 40.8, 39.5, 42.5, 49270.0, 26841.0, 1008.5, 137250.0, 28.6641005, -81.391002)
('CHILLICOTHE, OH', 'CHILLICOTHE', 'OH', 56783, 50065, 3842, 27, 398, 689, 577, 13955, 2334, 3870, 3926, 1860, 371, 142, 9976, 24304, 2679, 606, 356, 40.4, 39.1, 42.3, 43460.0, 21112.0, 672.0, 112500.0, 39.31206, -82.957071)
('FARMINGTON, NM', 'FARMINGTON', 'NM', 56781, 35887, 448, 14425, 298, 13550, 425, 8221, 2257, 3570, 3886, 2024, 479, 269, 9687, 26574, 1988, 912, 325, 34.33333333, 34.06666667, 35.5, 48492.66667, 22886.66667, 978.5, 151933.3333, 36.62289767, -108.179508)
('FAIRFIELD, CT', 'FAIRFIELD', 'CT', 56704, 50515, 946, 8, 2777, 3337, 140, 5270, 362, 1894, 11877, 7063, 2127, 705, 2319, 28391, 1956, 1016, 367, 40.15, 39.25, 41.4, 119230.5, 55042.0, 1679.0, 556600.0, 41.184811, -73.262036)
('DEARBORN HEIGHTS, MI', 'DEARBORN HEIGHTS', 'MI', 56656, 47746, 4856, 338, 1108, 2371, 745, 11003, 1559, 3143, 4741, 2024, 576, 321, 11254, 25456, 2898, 1149, 186, 38.4, 38.3, 38.65, 45113.0, 21787.0, 947.5, 84050.0, 42.3065635, -83.274064)

In [12]:
# Query Single Record in the the Database
city_state = engine.execute("SELECT CityState FROM Census_Data") # can also include filters using WHERE statement in the SQL statement
for result in city_state:
    print(result)

('HOUSTON, TX',)
('CHICAGO, IL',)
('BROOKLYN, NY',)
('LOS ANGELES, CA',)
('MIAMI, FL',)
('SAN ANTONIO, TX',)
('NEW YORK, NY',)
('PHILADELPHIA, PA',)
('LAS VEGAS, NV',)
('BRONX, NY',)
('PHOENIX, AZ',)
('DALLAS, TX',)
('SAN DIEGO, CA',)
('MINNEAPOLIS, MN',)
('DENVER, CO',)
('AUSTIN, TX',)
('SAN JOSE, CA',)
('ATLANTA, GA',)
('ORLANDO, FL',)
('INDIANAPOLIS, IN',)
('SAINT LOUIS, MO',)
('TUCSON, AZ',)
('SEATTLE, WA',)
('PORTLAND, OR',)
('FORT WORTH, TX',)
('CHARLOTTE, NC',)
('SAN FRANCISCO, CA',)
('JACKSONVILLE, FL',)
('MILWAUKEE, WI',)
('COLUMBUS, OH',)
('FORT LAUDERDALE, FL',)
('CINCINNATI, OH',)
('EL PASO, TX',)
('SAINT PAUL, MN',)
('SACRAMENTO, CA',)
('TAMPA, FL',)
('CLEVELAND, OH',)
('LOUISVILLE, KY',)
('MEMPHIS, TN',)
('PITTSBURGH, PA',)
('OKLAHOMA CITY, OK',)
('ALBUQUERQUE, NM',)
('DETROIT, MI',)
('WASHINGTON, DC',)
('BALTIMORE, MD',)
('SALT LAKE CITY, UT',)
('FRESNO, CA',)
('BUFFALO, NY',)
('KANSAS CITY, MO',)
('COLORADO SPRINGS, CO',)
('BAKERSFIELD, CA',)
('OMAHA, NE',)
('RALEIGH, NC',)
('MESA, AZ',)
('BIRMINGHAM, AL',)
('DAYTON, OH',)
('LONG BEACH, CA',)
('ROCHESTER, NY',)
('STATEN ISLAND, NY',)
('VIRGINIA BEACH, VA',)
('POMPANO BEACH, FL',)
('HOLLYWOOD, FL',)
('NASHVILLE, TN',)
('RIVERSIDE, CA',)
('TULSA, OK',)
('NEW ORLEANS, LA',)
('WICHITA, KS',)
('AURORA, CO',)
('KNOXVILLE, TN',)
('OAKLAND, CA',)
('ARLINGTON, TX',)
('BATON ROUGE, LA',)
('RICHMOND, VA',)
('STOCKTON, CA',)
('HIALEAH, FL',)
('ANAHEIM, CA',)
('GRAND RAPIDS, MI',)
('SANTA ANA, CA',)
('SPRING, TX',)
('SPOKANE, WA',)
('WEST PALM BEACH, FL',)
('SAINT PETERSBURG, FL',)
('ALEXANDRIA, VA',)
('COLUMBIA, SC',)
('TACOMA, WA',)
('LITTLETON, CO',)
('CORPUS CHRISTI, TX',)
('GREENSBORO, NC',)
('MARIETTA, GA',)
('VANCOUVER, WA',)
('TOLEDO, OH',)
('FORT WAYNE, IN',)
('LEXINGTON, KY',)
('SILVER SPRING, MD',)
('PLANO, TX',)
('KATY, TX',)
('NAPLES, FL',)
('GLENDALE, AZ',)
('RENO, NV',)
('MADISON, WI',)
('TALLAHASSEE, FL',)
('HENDERSON, NV',)
('NEWARK, NJ',)
('SCOTTSDALE, AZ',)
('LINCOLN, NE',)
('MOBILE, AL',)
('DURHAM, NC',)
('CHANDLER, AZ',)
('AKRON, OH',)
('LUBBOCK, TX',)
('PENSACOLA, FL',)
('MODESTO, CA',)
('LAREDO, TX',)
('WINSTON SALEM, NC',)
('JERSEY CITY, NJ',)
('KISSIMMEE, FL',)
('SALEM, OR',)
('CHULA VISTA, CA',)
('CORONA, CA',)
('SAVANNAH, GA',)
('LAKELAND, FL',)
('BOISE, ID',)
('NORFOLK, VA',)
('SAN BERNARDINO, CA',)
('LAWRENCEVILLE, GA',)
('FAYETTEVILLE, NC',)
('IRVINE, CA',)
('SARASOTA, FL',)
('JAMAICA, NY',)
('GILBERT, AZ',)
('GARLAND, TX',)
('BRADENTON, FL',)
('TRENTON, NJ',)
('IRVING, TX',)
('CHESAPEAKE, VA',)
('FONTANA, CA',)
('SYRACUSE, NY',)
('LAKE WORTH, FL',)
('SHREVEPORT, LA',)
('FORT MYERS, FL',)
('BOSTON, MA',)
('SPRINGFIELD, MO',)
('FREMONT, CA',)
('AMARILLO, TX',)
('NORTH LAS VEGAS, NV',)
('ARLINGTON, VA',)
('FLUSHING, NY',)
('BOCA RATON, FL',)
('WILMINGTON, DE',)
('OXNARD, CA',)
('OCALA, FL',)
('LITTLE ROCK, AR',)
('DES MOINES, IA',)
('SANTA ROSA, CA',)
('READING, PA',)
('MONTGOMERY, AL',)
('AURORA, IL',)
('GREENVILLE, SC',)
('PROVIDENCE, RI',)
('AUGUSTA, GA',)
('CHATTANOOGA, TN',)
('GAINESVILLE, FL',)
('WOODBRIDGE, VA',)
('BROWNSVILLE, TX',)
('MORENO VALLEY, CA',)
('OCEANSIDE, CA',)
('WHITTIER, CA',)
('HUNTINGTON BEACH, CA',)
('WILMINGTON, NC',)
('HUNTSVILLE, AL',)
('EUGENE, OR',)
('BEAVERTON, OR',)
('OGDEN, UT',)
('HENRICO, VA',)
('PORT SAINT LUCIE, FL',)
('CHARLESTON, SC',)
('HAYWARD, CA',)
('ERIE, PA',)
('SALINAS, CA',)
('FORT COLLINS, CO',)
('ROCKFORD, IL',)
('EVANSVILLE, IN',)
('WORCESTER, MA',)
('LANCASTER, CA',)
('GRAND PRAIRIE, TX',)
('GREEN BAY, WI',)
('ALPHARETTA, GA',)
('YONKERS, NY',)
('COLUMBUS, GA',)
('NEWPORT NEWS, VA',)
('ESCONDIDO, CA',)
('YORK, PA',)
('GLENDALE, CA',)
('OVERLAND PARK, KS',)
('TORRANCE, CA',)
('GARDEN GROVE, CA',)
('HOMESTEAD, FL',)
('TEMPE, AZ',)
('MISSION, TX',)
('OLYMPIA, WA',)
('CLEARWATER, FL',)
('PALMDALE, CA',)
('JACKSON, MS',)
('VAN NUYS, CA',)
('EVERETT, WA',)
('RANCHO CUCAMONGA, CA',)
('DECATUR, GA',)
('ELK GROVE, CA',)
('SIOUX FALLS, SD',)
('ONTARIO, CA',)
('EL CAJON, CA',)
('MURFREESBORO, TN',)
('ROANOKE, VA',)
('PEORIA, AZ',)
('ALLENTOWN, PA',)
('CAPE CORAL, FL',)
('HARRISBURG, PA',)
('LANCASTER, PA',)
('MACON, GA',)
('FREDERICKSBURG, VA',)
('MCKINNEY, TX',)
('BOYNTON BEACH, FL',)
('CLARKSVILLE, TN',)
('TOPEKA, KS',)
('NAPERVILLE, IL',)
('KALAMAZOO, MI',)
('LANSING, MI',)
('SCHENECTADY, NY',)
('ANN ARBOR, MI',)
('HYATTSVILLE, MD',)
('YOUNGSTOWN, OH',)
('SUGAR LAND, TX',)
('FAIRFAX, VA',)
('FLINT, MI',)
('EDMOND, OK',)
('LAFAYETTE, LA',)
('POMONA, CA',)
('NORTH HOLLYWOOD, CA',)
('ROUND ROCK, TX',)
('PASADENA, CA',)
('PUEBLO, CO',)
('KENT, WA',)
('KANSAS CITY, KS',)
('ODESSA, TX',)
('ALBANY, NY',)
('WACO, TX',)
('RENTON, WA',)
('ASTORIA, NY',)
('DENTON, TX',)
('SUNNYVALE, CA',)
('CANTON, OH',)
('TYLER, TX',)
('LAS CRUCES, NM',)
('PASADENA, TX',)
('BRIDGEPORT, CT',)
('MIDLAND, TX',)
('EDINBURG, TX',)
('VISALIA, CA',)
('PATERSON, NJ',)
('HUMBLE, TX',)
('COLUMBIA, MO',)
('MANASSAS, VA',)
('MELBOURNE, FL',)
('SOUTH BEND, IN',)
('MESQUITE, TX',)
('CARY, NC',)
('ORANGE, CA',)
('SPRINGFIELD, MA',)
('CYPRESS, TX',)
('BEAUMONT, TX',)
('YUMA, AZ',)
('KILLEEN, TX',)
('CONROE, TX',)
('CUMMING, GA',)
('SPRINGFIELD, IL',)
('FRISCO, TX',)
('GAITHERSBURG, MD',)
('METAIRIE, LA',)
('NEWARK, DE',)
('BELLEVUE, WA',)
('ROCKVILLE, MD',)
('FULLERTON, CA',)
('MCALLEN, TX',)
('SAN MATEO, CA',)
('HAMPTON, VA',)
('SANTA MARIA, CA',)
('OLATHE, KS',)
('SAINT CHARLES, MO',)
('SANTA BARBARA, CA',)
('COMPTON, CA',)
('CEDAR RAPIDS, IA',)
('PEORIA, IL',)
('INGLEWOOD, CA',)
('PUYALLUP, WA',)
('HAMILTON, OH',)
('WARREN, MI',)
('BILLINGS, MT',)
('VICTORVILLE, CA',)
('SAGINAW, MI',)
('ROSEVILLE, CA',)
('STERLING HEIGHTS, MI',)
('BLOOMINGTON, IN',)
('NEW HAVEN, CT',)
('MYRTLE BEACH, SC',)
('JOLIET, IL',)
('SIMI VALLEY, CA',)
('ABILENE, TX',)
('CONCORD, CA',)
('YAKIMA, WA',)
('CARROLLTON, TX',)
('BOULDER, CO',)
('ARVADA, CO',)
('MUSKEGON, MI',)
('SANTA FE, NM',)
('LAKE CHARLES, LA',)
('STAMFORD, CT',)
('RACINE, WI',)
('SURPRISE, AZ',)
('PEARLAND, TX',)
('ASHEVILLE, NC',)
('FREDERICK, MD',)
('HEMET, CA',)
('HARTFORD, CT',)
('INDEPENDENCE, MO',)
('GAINESVILLE, GA',)
('LONGMONT, CO',)
('BERKELEY, CA',)
('BROKEN ARROW, OK',)
('BETHLEHEM, PA',)
('TOMS RIVER, NJ',)
('MURRIETA, CA',)
('ROCHESTER, MN',)
('VALLEJO, CA',)
('PANAMA CITY, FL',)
('NORMAN, OK',)
('SUMMERVILLE, SC',)
('TEMECULA, CA',)
('ATHENS, GA',)
('BELLINGHAM, WA',)
('FALLS CHURCH, VA',)
('SANTA CLARA, CA',)
('ELGIN, IL',)
('WEST JORDAN, UT',)
('HIGH POINT, NC',)
('SAINT AUGUSTINE, FL',)
('STONE MOUNTAIN, GA',)
('SPRING HILL, FL',)
('CHARLOTTESVILLE, VA',)
('APPLETON, WI',)
('TUSCALOOSA, AL',)
('LA PUENTE, CA',)
('DULUTH, MN',)
('RICHMOND, TX',)
('BOTHELL, WA',)
('CHARLESTON, WV',)
('NEW PORT RICHEY, FL',)
('VISTA, CA',)
('PROVO, UT',)
('LEWISVILLE, TX',)
('CLOVIS, CA',)
('FARGO, ND',)
('MIAMI BEACH, FL',)
('VENTURA, CA',)
('MANCHESTER, NH',)
('SPARKS, NV',)
('GREENVILLE, NC',)
('NORCROSS, GA',)
('DULUTH, GA',)
('DOWNEY, CA',)
('KENOSHA, WI',)
('COSTA MESA, CA',)
('DALY CITY, CA',)
('TRACY, CA',)
('CORONA, NY',)
('REDDING, CA',)
('BEND, OR',)
('COLLEGE STATION, TX',)
('BAYTOWN, TX',)
('DELRAY BEACH, FL',)
('PERRIS, CA',)
('CARLSBAD, CA',)
('CONCORD, NC',)
('ROCK HILL, SC',)
('REDWOOD CITY, CA',)
('WEST COVINA, CA',)
('WATERBURY, CT',)
('SPARTANBURG, SC',)
('LOWELL, MA',)
('FLORISSANT, MO',)
('BOWLING GREEN, KY',)
('CHICO, CA',)
('NAMPA, ID',)
('FAIRFIELD, CA',)
('AUBURN, WA',)
('VERO BEACH, FL',)
('SAN ANGELO, TX',)
('SAN LEANDRO, CA',)
('WEST CHESTER, PA',)
('CAMBRIDGE, MA',)
('LEHIGH ACRES, FL',)
('BURBANK, CA',)
('LAUREL, MD',)
('GREELEY, CO',)
('ANTIOCH, CA',)
('PALM BAY, FL',)
('SANDY, UT',)
('DOUGLASVILLE, GA',)
('NORWALK, CA',)
('KELLER, TX',)
('ENGLEWOOD, CO',)
('RICHARDSON, TX',)
('RIALTO, CA',)
('LONGVIEW, TX',)
('IDAHO FALLS, ID',)
('GASTONIA, NC',)
('DAVENPORT, IA',)
('LARGO, FL',)
('SPRINGFIELD, VA',)
('ALLEN, TX',)
('GRAND JUNCTION, CO',)
('YPSILANTI, MI',)
('JACKSON, MI',)
('BELL GARDENS, CA',)
('MADERA, CA',)
('VACAVILLE, CA',)
('PACOIMA, CA',)
('MERCED, CA',)
('RIDGEWOOD, NY',)
('HESPERIA, CA',)
('SANTA CRUZ, CA',)
('LAFAYETTE, IN',)
('EDISON, NJ',)
('LYNCHBURG, VA',)
('LYNNWOOD, WA',)
('ASHBURN, VA',)
('SPRINGFIELD, OH',)
('WICHITA FALLS, TX',)
('ALBANY, GA',)
('DAYTONA BEACH, FL',)
('MISSOURI CITY, TX',)
('ROCHESTER, MI',)
('BROOMFIELD, CO',)
('ELIZABETH, NJ',)
('SCRANTON, PA',)
('COLUMBIA, MD',)
('FRANKLIN, TN',)
('CLINTON TOWNSHIP, MI',)
('ELMHURST, NY',)
('WINTER HAVEN, FL',)
('ROSWELL, GA',)
('LEES SUMMIT, MO',)
('BOWIE, MD',)
('ELKHART, IN',)
('HAGERSTOWN, MD',)
('MISSION VIEJO, CA',)
('WAUKEGAN, IL',)
('RIVERVIEW, FL',)
('LAWRENCE, KS',)
('ANDERSON, SC',)
('LEXINGTON, SC',)
('KENNESAW, GA',)
('HILLSBORO, OR',)
('LAKEWOOD, NJ',)
('FAYETTEVILLE, AR',)
('PORTSMOUTH, VA',)
('NAPA, CA',)
('FEDERAL WAY, WA',)
('DEARBORN, MI',)
('VALDOSTA, GA',)
('HAWTHORNE, CA',)
('PLAINFIELD, IL',)
('PALO ALTO, CA',)
('LITHONIA, GA',)
('BELLEVILLE, IL',)
('WAUKESHA, WI',)
('MISSOULA, MT',)
('MCDONOUGH, GA',)
('TERRE HAUTE, IN',)
('SOUTH GATE, CA',)
('LIVONIA, MI',)
('CHAPEL HILL, NC',)
('JACKSONVILLE, NC',)
('SAN MARCOS, CA',)
('ANNAPOLIS, MD',)
('ACWORTH, GA',)
('NEW BEDFORD, MA',)
('BROCKTON, MA',)
('LAWTON, OK',)
('SANTA MONICA, CA',)
('KENNEWICK, WA',)
('JOHNSON CITY, TN',)
('WOODSTOCK, GA',)
('BALLWIN, MO',)
('MERIDIAN, ID',)
('RAPID CITY, SD',)
('O FALLON, MO',)
('MIDLOTHIAN, VA',)
('RIO RANCHO, NM',)
('SYLMAR, CA',)
('INDIO, CA',)
('MUNCIE, IN',)
('EL MONTE, CA',)
('QUINCY, MA',)
('BRYAN, TX',)
('JUPITER, FL',)
('APOPKA, FL',)
('OREM, UT',)
('CLEVELAND, TN',)
('HERNDON, VA',)
('SPRINGDALE, AR',)
('WESTMINSTER, CA',)
('LYNN, MA',)
('FLORENCE, SC',)
('HOLLAND, MI',)
('FORT PIERCE, FL',)
('CHAMPAIGN, IL',)
('BUFORD, GA',)
('FORT SMITH, AR',)
('MORGANTOWN, WV',)
('MANSFIELD, OH',)
('BATTLE CREEK, MI',)
('WOODSIDE, NY',)
('DES PLAINES, IL',)
('CHEYENNE, WY',)
('DELTONA, FL',)
('COVINGTON, GA',)
('ANTIOCH, TN',)
('PARKER, CO',)
('LIVERMORE, CA',)
('CANTON, GA',)
('PITTSBURG, CA',)
('MONROE, LA',)
('MEDFORD, OR',)
('UPPER MARLBORO, MD',)
('MILTON, FL',)
('CANTON, MI',)
('CLERMONT, FL',)
('FARMINGTON, MI',)
('HARLINGEN, TX',)
('GULFPORT, MS',)
('WESTERVILLE, OH',)
('WILLIAMSBURG, VA',)
('SLIDELL, LA',)
('NEWNAN, GA',)
('NEW BRAUNFELS, TX',)
('DORCHESTER, MA',)
('HATTIESBURG, MS',)
('CHINO, CA',)
('FALL RIVER, MA',)
('NORRISTOWN, PA',)
('SAINT JOSEPH, MO',)
('NORWALK, CT',)
('LOVELAND, CO',)
('FLAGSTAFF, AZ',)
('NASHUA, NH',)
('BREMERTON, WA',)
('GLEN BURNIE, MD',)
('KINGSPORT, TN',)
('POUGHKEEPSIE, NY',)
('DECATUR, IL',)
('CITRUS HEIGHTS, CA',)
('SUFFOLK, VA',)
('SIOUX CITY, IA',)
('JACKSON, TN',)
('RICHMOND, CA',)
('SUMTER, SC',)
('BLOOMINGTON, IL',)
('WALNUT CREEK, CA',)
('LIMA, OH',)
('GERMANTOWN, MD',)
('CONYERS, GA',)
('HOUMA, LA',)
('EASTON, PA',)
('GARDENA, CA',)
('BISMARCK, ND',)
('WATSONVILLE, CA',)
('DALLAS, GA',)
('CARSON, CA',)
('ALHAMBRA, CA',)
('CLIFTON, NJ',)
('WARNER ROBINS, GA',)
('TUSTIN, CA',)
('CICERO, IL',)
('ELLICOTT CITY, MD',)
('VICTORIA, TX',)
('JONESBORO, GA',)
('MACOMB, MI',)
('WALDORF, MD',)
('EAU CLAIRE, WI',)
('PALM COAST, FL',)
('SAN PEDRO, CA',)
('REDMOND, WA',)
('DANBURY, CT',)
('CANOGA PARK, CA',)
('OWENSBORO, KY',)
('DOTHAN, AL',)
('CORDOVA, TN',)
('STERLING, VA',)
('GARY, IN',)
('CONWAY, AR',)
('WESTLAND, MI',)
('TROY, MI',)
('GREENWOOD, IN',)
('OSHKOSH, WI',)
('MARYVILLE, TN',)
('LEESBURG, VA',)
('BUENA PARK, CA',)
('SIMPSONVILLE, SC',)
('CARMEL, IN',)
('IOWA CITY, IA',)
('COVINA, CA',)
('DALTON, GA',)
('BRANDON, FL',)
('STAFFORD, VA',)
('SMYRNA, GA',)
('JONESBORO, AR',)
('BETHESDA, MD',)
('LAKEWOOD, CA',)
('BINGHAMTON, NY',)
('UTICA, MI',)
('MANTECA, CA',)
('VALPARAISO, IN',)
('ARLINGTON HEIGHTS, IL',)
('EVANSTON, IL',)
('GREER, SC',)
('FISHERS, IN',)
('MOUNT PLEASANT, SC',)
('CAMARILLO, CA',)
('GRESHAM, OR',)
('SANFORD, FL',)
('SAINT GEORGE, UT',)
('MIDDLETOWN, OH',)
('THOUSAND OAKS, CA',)
('LEAGUE CITY, TX',)
('POCATELLO, ID',)
('PFLUGERVILLE, TX',)
('FORT MILL, SC',)
('SAN TAN VALLEY, AZ',)
('MONROE, NC',)
('SNELLVILLE, GA',)
('TOMBALL, TX',)
('LAWRENCE, MA',)
('TURLOCK, CA',)
('KIRKLAND, WA',)
('APPLE VALLEY, CA',)
('UPLAND, CA',)
('BRIGHTON, CO',)
('HICKORY, NC',)
('ROGERS, AR',)
('PORTERVILLE, CA',)
('RESEDA, CA',)
('MOUNTAIN VIEW, CA',)
('LEXINGTON, NC',)
('ANDERSON, IN',)
('PALM HARBOR, FL',)
('BALDWIN PARK, CA',)
('BELLFLOWER, CA',)
('PALATINE, IL',)
('AVONDALE, AZ',)
('SALISBURY, NC',)
('GEORGETOWN, TX',)
('YUBA CITY, CA',)
('OPA LOCKA, FL',)
('SOUTHFIELD, MI',)
('PLANT CITY, FL',)
('CHINO HILLS, CA',)
('BURLINGTON, NC',)
('ALAMEDA, CA',)
('NORTH CHARLESTON, SC',)
('CANYON COUNTRY, CA',)
('MARYSVILLE, WA',)
('SOMERVILLE, MA',)
('DAVIS, CA',)
('PLEASANTON, CA',)
('OVIEDO, FL',)
('WINTER PARK, FL',)
('SCHAUMBURG, IL',)
('WARWICK, RI',)
('HUNTINGTON PARK, CA',)
('DENHAM SPRINGS, LA',)
('HUNTINGTON, WV',)
('REDLANDS, CA',)
('SAN RAMON, CA',)
('LAKE ELSINORE, CA',)
('TEMPLE, TX',)
('REDONDO BEACH, CA',)
('ORANGE PARK, FL',)
('ROME, GA',)
('PASCO, WA',)
('CAMDEN, NJ',)
('FAR ROCKAWAY, NY',)
('NEW ROCHELLE, NY',)
('WARREN, OH',)
('KOKOMO, IN',)
('SPRINGFIELD, OR',)
('DUBLIN, OH',)
('SAINT CLOUD, MN',)
('PHARR, TX',)
('EAST ELMHURST, NY',)
('BOSSIER CITY, LA',)
('BRANDON, MS',)
('BOLINGBROOK, IL',)
('FOLSOM, CA',)
('HOT SPRINGS NATIONAL PARK, AR',)
('GOODYEAR, AZ',)
('BRICK, NJ',)
('WILKES BARRE, PA',)
('LODI, CA',)
('MATTHEWS, NC',)
('CEDAR PARK, TX',)
('SAN RAFAEL, CA',)
('NEW BRITAIN, CT',)
('GOLDSBORO, NC',)
('LA MESA, CA',)
('SAN MARCOS, TX',)
('JOPLIN, MO',)
('WATERFORD, MI',)
('CASPER, WY',)
('SAINT PETERS, MO',)
('DUBUQUE, IA',)
('UNION CITY, CA',)
('PLAINFIELD, NJ',)
('GREAT FALLS, MT',)
('COUNCIL BLUFFS, IA',)
('JANESVILLE, WI',)
('PETALUMA, CA',)
('CASTLE ROCK, CO',)
('PALM BEACH GARDENS, FL',)
('STATESVILLE, NC',)
('BESSEMER, AL',)
('TRAVERSE CITY, MI',)
('SUWANEE, GA',)
('NORTH LITTLE ROCK, AR',)
('PANORAMA CITY, CA',)
('SPRING VALLEY, CA',)
('TULARE, CA',)
('WINCHESTER, VA',)
('SHAWNEE, KS',)
('HAMMOND, IN',)
('MILPITAS, CA',)
('PAWTUCKET, RI',)
('MOORESVILLE, NC',)
('LYNWOOD, CA',)
('LAYTON, UT',)
('CENTREVILLE, VA',)
('CHERRY HILL, NJ',)
('CRANSTON, RI',)
('WHITE PLAINS, NY',)
('WEST LAFAYETTE, IN',)
('UTICA, NY',)
('BUCKEYE, AZ',)
('NOBLESVILLE, IN',)
('COLUMBUS, IN',)
('HARRISONBURG, VA',)
('PORT CHARLOTTE, FL',)
('FOREST HILLS, NY',)
('TROY, NY',)
('PASSAIC, NJ',)
('MECHANICSBURG, PA',)
('FRAMINGHAM, MA',)
('DOVER, DE',)
('MADISON, AL',)
('STUART, FL',)
('AIKEN, SC',)
('ROCKY MOUNT, NC',)
('SALISBURY, MD',)
('YORBA LINDA, CA',)
('PARKVILLE, MD',)
('HUNTINGTON STATION, NY',)
('SANFORD, NC',)
('WATERLOO, IA',)
('WOODLAND HILLS, CA',)
('QUEENS VILLAGE, NY',)
('JEFFERSON CITY, MO',)
('OSSEO, MN',)
('STATE COLLEGE, PA',)
('KINGWOOD, TX',)
('LA HABRA, CA',)
('HENDERSONVILLE, NC',)
('JOHNSTOWN, PA',)
('GRANTS PASS, OR',)
('FLOWER MOUND, TX',)
('UNION CITY, NJ',)
('GLEN ALLEN, VA',)
('ITHACA, NY',)
('STOCKBRIDGE, GA',)
('PORT ORANGE, FL',)
('KENNER, LA',)
('WEATHERFORD, TX',)
('VENICE, FL',)
('APEX, NC',)
('MOUNT VERNON, NY',)
('PUNTA GORDA, FL',)
('LEBANON, PA',)
('COOKEVILLE, TN',)
('LORAIN, OH',)
('WEST BLOOMFIELD, MI',)
('LOGAN, UT',)
('BAY CITY, MI',)
('VIENNA, VA',)
('BAY SHORE, NY',)
('AMES, IA',)
('GADSDEN, AL',)
('ORLAND PARK, IL',)
('SOUTH SAN FRANCISCO, CA',)
('ARCADIA, CA',)
('NEW BERN, NC',)
('CONWAY, SC',)
('HANFORD, CA',)
('WESLACO, TX',)
('SAINT CLOUD, FL',)
('MANSFIELD, TX',)
('PORTLAND, ME',)
('CORVALLIS, OR',)
('MERIDIAN, MS',)
('BAYONNE, NJ',)
('BELLEVUE, NE',)
('TINLEY PARK, IL',)
('LAGUNA NIGUEL, CA',)
('CALDWELL, ID',)
('SAN CLEMENTE, CA',)
('NORTH RICHLAND HILLS, TX',)
('BRUNSWICK, GA',)
('MIDLAND, MI',)
('NORTHRIDGE, CA',)
('BURLESON, TX',)
('MANHATTAN, KS',)
('HUNTSVILLE, TX',)
('LUFKIN, TX',)
('JACKSON HEIGHTS, NY',)
('EAST ORANGE, NJ',)
('WESLEY CHAPEL, FL',)
('NIAGARA FALLS, NY',)
('LA CROSSE, WI',)
('DECATUR, AL',)
('MECHANICSVILLE, VA',)
('VALRICO, FL',)
('PHENIX CITY, AL',)
('VALLEY STREAM, NY',)
('NEWPORT BEACH, CA',)
('BEL AIR, MD',)
('BERWYN, IL',)
('MASSILLON, OH',)
('NORTH HILLS, CA',)
('FLORENCE, AL',)
('NORTH PORT, FL',)
('PICO RIVERA, CA',)
('EULESS, TX',)
('RANCHO CORDOVA, CA',)
('LEVITTOWN, PA',)
('ROSEMEAD, CA',)
('CLEARFIELD, UT',)
('CASA GRANDE, AZ',)
('ELYRIA, OH',)
('MARTINSBURG, WV',)
('EAST LANSING, MI',)
('SAN GABRIEL, CA',)
('DELAND, FL',)
('WEST HARTFORD, CT',)
('VALENCIA, CA',)
('MONTEBELLO, CA',)
('LAKEWOOD, WA',)
('WEST NEW YORK, NJ',)
('SAN LUIS OBISPO, CA',)
('BILOXI, MS',)
('LEANDER, TX',)
('FAYETTEVILLE, GA',)
('YUKON, OK',)
('POTTSTOWN, PA',)
('SHEBOYGAN, WI',)
('ALTOONA, PA',)
('BOZEMAN, MT',)
('BROOKSVILLE, FL',)
('EDEN PRAIRIE, MN',)
('NORTH BERGEN, NJ',)
('SNOHOMISH, WA',)
('HENDERSONVILLE, TN',)
('ORMOND BEACH, FL',)
('MEDINA, OH',)
('WALTHAM, MA',)
('CUPERTINO, CA',)
('LILBURN, GA',)
('COCOA, FL',)
('SPRING VALLEY, NY',)
('ROCKWALL, TX',)
('HAVERHILL, MA',)
('TAYLOR, MI',)
('MIDDLETOWN, NY',)
('CARTERSVILLE, GA',)
('NEW CASTLE, DE',)
('VINELAND, NJ',)
('GROVE CITY, OH',)
('NATIONAL CITY, CA',)
('CARSON CITY, NV',)
('WOODLAND, CA',)
('MANKATO, MN',)
('HAMDEN, CT',)
('PORT ORCHARD, WA',)
('RESTON, VA',)
('BRENTWOOD, NY',)
('TEXARKANA, TX',)
('FOND DU LAC, WI',)
('CARMICHAEL, CA',)
('POWDER SPRINGS, GA',)
('BURNSVILLE, MN',)
('NOVATO, CA',)
('NEW IBERIA, LA',)
('AZUSA, CA',)
('PASADENA, MD',)
('ROUND LAKE, IL',)
('MONTEREY PARK, CA',)
('MENTOR, OH',)
('ALBANY, OR',)
('NEWARK, OH',)
('AUBURN, AL',)
('CARROLLTON, GA',)
('WILSON, NC',)
('RIVERDALE, GA',)
('MALDEN, MA',)
('GRIFFIN, GA',)
('LUTZ, FL',)
('CROWN POINT, IN',)
('SAN PABLO, CA',)
('SKOKIE, IL',)
('MERIDEN, CT',)
('BRISTOL, CT',)
('SOUTH JORDAN, UT',)
('EASLEY, SC',)
('LAKE FOREST, CA',)
('PONTIAC, MI',)
('WHEATON, IL',)
('HEMPSTEAD, NY',)
('GILROY, CA',)
('MAGNOLIA, TX',)
('ALEXANDRIA, LA',)
('ANNANDALE, VA',)
('ROCKLIN, CA',)
('SAINT CLAIR SHORES, MI',)
('CRYSTAL LAKE, IL',)
('LOGANVILLE, GA',)
('WAKE FOREST, NC',)
('LANCASTER, OH',)
('HIGHLAND, CA',)
('OWINGS MILLS, MD',)
('DANVILLE, VA',)
('PETERSBURG, VA',)
('CHESTERFIELD, MO',)
('WEST DES MOINES, IA',)
('HILLIARD, OH',)
('MEDFORD, MA',)
('OZONE PARK, NY',)
('CLAYTON, NC',)
('HOWELL, MI',)
('CHICAGO HEIGHTS, IL',)
('GOLDEN, CO',)
('ROYAL OAK, MI',)
('COLTON, CA',)
('LOMPOC, CA',)
('GOSHEN, IN',)
('LAKE CITY, FL',)
('COEUR D ALENE, ID',)
('BRENTWOOD, CA',)
('GREENSBURG, PA',)
('FRESH MEADOWS, NY',)
('STATESBORO, GA',)
('MANCHESTER, CT',)
('GOOSE CREEK, SC',)
('SAINT CHARLES, IL',)
('CASTRO VALLEY, CA',)
('WILMINGTON, CA',)
('SHERMAN OAKS, CA',)
('RICHMOND, KY',)
('PALM DESERT, CA',)
('ATHENS, AL',)
('LAND O LAKES, FL',)
('NEW BALTIMORE, MI',)
('PLYMOUTH, MA',)
('STILLWATER, OK',)
('WESTMINSTER, MD',)
('FOUNTAIN VALLEY, CA',)
('GRETNA, LA',)
('LEBANON, TN',)
('PISCATAWAY, NJ',)
('ROWLETT, TX',)
('SUN CITY, CA',)
('GRAND FORKS, ND',)
('NEW BRUNSWICK, NJ',)
('NACOGDOCHES, TX',)
('PRESCOTT, AZ',)
('SAN BENITO, TX',)
('SANTA CLARITA, CA',)
('OAK LAWN, IL',)
('ROSWELL, NM',)
('LAKE HAVASU CITY, AZ',)
('ALTAMONTE SPRINGS, FL',)
('CHILLICOTHE, OH',)
('FARMINGTON, NM',)
('FAIRFIELD, CT',)
('DEARBORN HEIGHTS, MI',)

In [16]:
# Query Single Record in the the Database
household_incomes = engine.execute("SELECT Household&#160;Income FROM Census_Data")
for record in household_incomes:
    print(record)

OperationalError: (sqlite3.OperationalError) near "#160": syntax error
[SQL: SELECT Household&#160;Income FROM Census_Data]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

### Read SQLite file into Pandas DataFrame

In [18]:
# Make a connection to the SQL database
conn = engine.connect()

In [19]:
# Query All Records in the the Database
census_data_df = pd.read_sql("SELECT * FROM Census_Data", conn)
census_data_df.head()

,CityState,city,state,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,"HOUSTON, TX",HOUSTON,TX,3061887,1775897,684416,11586,230549,1368287,54180,...,22637,33.439583,32.550000,34.363542,56206.50000,32239.52083,956.708333,178233.6842,29.775734,-95.414548
1,"CHICAGO, IL",CHICAGO,IL,2702091,1318869,843633,7554,161478,785374,32800,...,18209,34.526786,33.798214,35.141071,57735.96429,38730.83929,1119.928571,264739.2857,41.867838,-87.673440
2,"BROOKLYN, NY",BROOKLYN,NY,2595259,1126111,870465,8744,297890,509243,48934,...,14845,35.175676,33.367568,36.578378,51469.18919,28309.67568,1261.783784,605743.2432,40.652805,-73.956528
3,"LOS ANGELES, CA",LOS ANGELES,CA,2426413,1068202,324842,15949,273829,1292382,62684,...,12329,35.335484,34.535484,36.061290,47494.58333,30073.19355,1201.766667,557115.0000,34.042209,-118.303468
4,"MIAMI, FL",MIAMI,FL,1820704,1361009,363514,2250,33144,1162711,27137,...,6969,38.740741,37.120370,40.262963,51232.90741,25949.35185,1260.833333,243279.6296,25.760268,-80.298511

In [20]:
# Get the CityState where the Household Income is equal to or greater than $100,000. 
census_data_df.loc[census_data_df["Hispanic Population"] >= 100000]["CityState"].values

array(['HOUSTON, TX', 'CHICAGO, IL', 'BROOKLYN, NY', 'LOS ANGELES, CA',
       'MIAMI, FL', 'SAN ANTONIO, TX', 'NEW YORK, NY', 'PHILADELPHIA, PA',
       'LAS VEGAS, NV', 'BRONX, NY', 'PHOENIX, AZ', 'DALLAS, TX',
       'SAN DIEGO, CA', 'DENVER, CO', 'AUSTIN, TX', 'SAN JOSE, CA',
       'ORLANDO, FL', 'TUCSON, AZ', 'FORT WORTH, TX', 'CHARLOTTE, NC',
       'SAN FRANCISCO, CA', 'MILWAUKEE, WI', 'FORT LAUDERDALE, FL',
       'EL PASO, TX', 'SACRAMENTO, CA', 'TAMPA, FL', 'OKLAHOMA CITY, OK',
       'ALBUQUERQUE, NM', 'SALT LAKE CITY, UT', 'FRESNO, CA',
       'BAKERSFIELD, CA', 'MESA, AZ', 'LONG BEACH, CA', 'HOLLYWOOD, FL',
       'RIVERSIDE, CA', 'AURORA, CO', 'OAKLAND, CA', 'ARLINGTON, TX',
       'STOCKTON, CA', 'HIALEAH, FL', 'ANAHEIM, CA', 'SANTA ANA, CA',
       'CORPUS CHRISTI, TX', 'MODESTO, CA', 'LAREDO, TX', 'KISSIMMEE, FL',
       'CHULA VISTA, CA', 'CORONA, CA', 'SAN BERNARDINO, CA',
       'FONTANA, CA', 'OXNARD, CA', 'BROWNSVILLE, TX',
       'MORENO VALLEY, CA', 'WHITTIER, CA', 'SALINAS, CA',
       'HOMESTEAD, FL', 'MISSION, TX', 'ONTARIO, CA', 'POMONA, CA',
       'PASADENA, TX', 'EDINBURG, TX', 'MCALLEN, TX'], dtype=object)

In [21]:
census_data_df.describe()

,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,Education High School,Education GED,Education Associates,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
count,9.990000e+02,9.990000e+02,999.000000,999.000000,999.000000,9.990000e+02,999.000000,999.000000,999.000000,999.000000,...,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,9.990000e+02,999.000000,999.000000
mean,1.676974e+05,1.105973e+05,27694.100100,991.945946,11419.363363,3.917005e+04,1885.815816,23248.018018,3868.761762,8455.614615,...,1220.551552,36.728758,35.564994,37.849369,60570.269105,29022.028476,1073.368450,2.477122e+05,36.958382,-94.087058
std,2.566043e+05,1.508968e+05,70237.496877,2297.259205,26906.391975,1.018179e+05,4252.930644,35227.746482,5843.970339,11393.835888,...,2144.006231,4.934396,4.752334,5.121261,20206.685929,9808.968724,313.829454,1.631071e+05,4.950274,16.801787
min,5.665600e+04,2.380000e+03,105.000000,2.000000,136.000000,5.440000e+02,32.000000,2013.000000,172.000000,899.000000,...,0.000000,21.400000,21.350000,21.500000,23548.250000,11822.000000,545.000000,4.948333e+04,25.458304,-123.375953
25%,7.089850e+04,5.139800e+04,2932.500000,186.500000,1669.500000,5.640500e+03,448.500000,10090.500000,1303.500000,3797.500000,...,326.000000,33.973333,33.000000,35.010000,45474.409090,22393.208335,828.250000,1.436583e+05,33.713576,-112.028753
50%,9.336900e+04,6.724300e+04,8207.000000,382.000000,4086.000000,1.430100e+04,837.000000,13777.000000,2310.000000,5046.000000,...,590.000000,36.600000,35.300000,37.750000,55222.000000,26818.666670,1006.000000,1.949750e+05,37.360503,-87.968863
75%,1.489445e+05,1.039805e+05,22969.000000,825.000000,10900.500000,3.752850e+04,1774.000000,21374.000000,3814.500000,7976.000000,...,1173.000000,39.275000,38.000000,40.700000,71103.250000,33374.035715,1268.500000,3.000333e+05,40.763011,-80.832494
max,3.061887e+06,1.775897e+06,870465.000000,29357.000000,339947.000000,1.368287e+06,62684.000000,389177.000000,65899.000000,113990.000000,...,22637.000000,63.866667,63.200000,64.400000,152760.666700,83906.000000,2394.000000,1.522550e+06,48.748558,-70.253823