## Portland Crime

### Instructions

* Read in the csv using Pandas and print out the DataFrame that is returned.

* Get a count of rows within the DataFrame in order to determine if there are any null values.

* Drop the rows which contain null values.

* Search through the "Offense Type" column and "replace" any similar values with one consistent value.

In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Reference the file where the CSV is located
crime_file = "Resources/crime_incident_data2017.csv"

# Import the data into a Pandas DataFrame
crime_df = pd.read_csv(crime_file)

In [4]:
# look for missing values
# pd.set_option('display.max_rows', None)
crime_df.count()

Address              37365
Case Number          41032
Crime Against        41032
Neighborhood         39712
Number of Records    41032
Occur Date           41032
Occur Month Year     41032
Occur Time           41032
Offense Category     41032
Offense Count        41032
Offense Type         41032
Open Data Lat        36712
Open Data Lon        36712
Open Data X          36712
Open Data Y          36712
Report Date          41032
Report Month Year    41032
dtype: int64

In [9]:
# drop null rows
crime_df_dropped_na = crime_df.dropna(how='any')

In [10]:
# verify counts
crime_df_dropped_na.count()

Address              36146
Case Number          36146
Crime Against        36146
Neighborhood         36146
Number of Records    36146
Occur Date           36146
Occur Month Year     36146
Occur Time           36146
Offense Category     36146
Offense Count        36146
Offense Type         36146
Open Data Lat        36146
Open Data Lon        36146
Open Data X          36146
Open Data Y          36146
Report Date          36146
Report Month Year    36146
dtype: int64

In [15]:
# Check to see if there are any values with mispelled or similar values in "Offense Type"
crime_df_dropped_na["Offense Type"].value_counts().sort_index()

Aggravated Assault                              839
All Other Larceny                              4558
Animal Cruelty                                   17
Arson                                           200
Assisting or Promoting Prostitution               7
Burglary                                       2824
Commercial Sex Acts                               1
Counterfeiting/Forgery                          448
Credit Card/ATM Fraud                           226
Drug Equipment Violations                         6
Drug/Narcotic Violations                       1095
Embezzlement                                     73
Extortion/Blackmail                               8
False Pretenses/Swindle/Confidence Game         870
Hacking/Computer Invasion                        19
Identity Theft                                 1794
Impersonation                                     4
Intimidation                                    900
Kidnapping/Abduction                             22
Motor Vehicle Theft                            4689
Pocket-Picking                                   94
Pornography/Obscene Material                     10
Prostitution                                    145
Purse-Snatching                                  89
Robbery                                         608
Shoplifting                                    2259
Simple Assault                                 1216
Stolen Property Offenses                         57
Theft From Building                             895
Theft From Coin-Operated Machine or Device       20
Theft From Motor Vehicle                       6947
Theft of Motor Vehicle Parts or Accessories    1073
Vandalism                                      3863
Weapons Law Violations                          266
Welfare Fraud                                     1
Wire Fraud                                        3
Name: Offense Type, dtype: int64

In [16]:
# Combine similar offenses
crime_df_dropped_na = crime_df_dropped_na.replace({"Commercial Sex Acts": "Prostitution", "Assisting or Promoting Prostitution": "Prostitution"})

In [18]:
# Check to see if you comnbined similar offenses correctly in "Offense Type".
crime_df_dropped_na["Offense Type"].value_counts().sort_index()

Aggravated Assault                              839
All Other Larceny                              4558
Animal Cruelty                                   17
Arson                                           200
Burglary                                       2824
Counterfeiting/Forgery                          448
Credit Card/ATM Fraud                           226
Drug Equipment Violations                         6
Drug/Narcotic Violations                       1095
Embezzlement                                     73
Extortion/Blackmail                               8
False Pretenses/Swindle/Confidence Game         870
Hacking/Computer Invasion                        19
Identity Theft                                 1794
Impersonation                                     4
Intimidation                                    900
Kidnapping/Abduction                             22
Motor Vehicle Theft                            4689
Pocket-Picking                                   94
Pornography/Obscene Material                     10
Prostitution                                    153
Purse-Snatching                                  89
Robbery                                         608
Shoplifting                                    2259
Simple Assault                                 1216
Stolen Property Offenses                         57
Theft From Building                             895
Theft From Coin-Operated Machine or Device       20
Theft From Motor Vehicle                       6947
Theft of Motor Vehicle Parts or Accessories    1073
Vandalism                                      3863
Weapons Law Violations                          266
Welfare Fraud                                     1
Wire Fraud                                        3
Name: Offense Type, dtype: int64