In [65]:
# Dependencies
import pandas as pd
import os

In [66]:
# Read in the following data into a DataFrame.
raw_data_info = {
    "customer_id": [112, 403, 999, 543, 123],
    "name": ["John", "Kelly", "Sam", "April", "Bobbo"],
    "email": ["jman@gmail", "kelly@aol.com", "sports@school.edu", "April@yahoo.com", "HeyImBobbo@msn.com"]}
customer_df = pd.DataFrame(raw_data_info)

In [67]:
# Read in the following data into a DataFrame.
raw_data_items = {
    "customer_id": [403, 112, 543, 999, 654],
    "item": ["soda", "chips", "TV", "Laptop", "Cooler"],
    "cost": [3.00, 4.50, 600, 900, 150]}
items_df = pd.DataFrame(raw_data_items)
items_df

   customer_id    item   cost
0          403    soda    3.0
1          112   chips    4.5
2          543      TV  600.0
3          999  Laptop  900.0
4          654  Cooler  150.0

In [68]:
# Merge the two dataframes using an inner join (default)
merged_df = customer_df.merge(items_df, on="customer_id")
merged_df.head()

   customer_id   name              email    item   cost
0          112   John         jman@gmail   chips    4.5
1          403  Kelly      kelly@aol.com    soda    3.0
2          999    Sam  sports@school.edu  Laptop  900.0
3          543  April    April@yahoo.com      TV  600.0

In [69]:
# Merge two dataframes using an outer join
outer_merged_df = customer_df.merge(items_df, on="customer_id", how="outer")
outer_merged_df

   customer_id   name               email    item   cost
0          112   John          jman@gmail   chips    4.5
1          403  Kelly       kelly@aol.com    soda    3.0
2          999    Sam   sports@school.edu  Laptop  900.0
3          543  April     April@yahoo.com      TV  600.0
4          123  Bobbo  HeyImBobbo@msn.com     NaN    NaN
5          654    NaN                 NaN  Cooler  150.0

In [70]:
# Merge two dataframes using a left join
left_merged_df = customer_df.merge(items_df, on="customer_id", how="left")
left_merged_df

   customer_id   name               email    item   cost
0          112   John          jman@gmail   chips    4.5
1          403  Kelly       kelly@aol.com    soda    3.0
2          999    Sam   sports@school.edu  Laptop  900.0
3          543  April     April@yahoo.com      TV  600.0
4          123  Bobbo  HeyImBobbo@msn.com     NaN    NaN

In [71]:
# Merge two dataframes using a right join
right_merged_df = customer_df.merge(items_df, on="customer_id", how="right")
right_merged_df

   customer_id   name              email    item   cost
0          403  Kelly      kelly@aol.com    soda    3.0
1          112   John         jman@gmail   chips    4.5
2          543  April    April@yahoo.com      TV  600.0
3          999    Sam  sports@school.edu  Laptop  900.0
4          654    NaN                NaN  Cooler  150.0

In [72]:
#  Import the csv files and create DataFrames.
bitcoin_csv = "Resources/bitcoin_cash_price.csv"
dash_csv = "Resources/dash_price.csv"
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

In [76]:
# Merge the two DataFrames together based on the Dates they share
crypto_merged_df = bitcoin_df.merge(dash_df, on="Date", how="inner")
crypto_merged_df.head()

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [78]:
# Rename columns so that they are differentiated
crypto_merged_df.rename(columns={"Open_x":"Bitcoin Open", "High_x":"Bitcoin High"}, inplace=True)
crypto_merged_df.head()

,Date,Bitcoin Open,Bitcoin High,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [75]:
# Alternatively you can set your suffixes using suffixes=("_Bitcoin", "_Dash") 
# in the merge funciton when the merge occurs.
crypto_merged_df_suffixes = bitcoin_df.merge(dash_df, on="Date", how="inner", suffixes=["_Bitcoin", "_Dash"])
crypto_merged_df_suffixes.head()

,Date,Open_Bitcoin,High_Bitcoin,Low_Bitcoin,Close_Bitcoin,Volume_Bitcoin,Market Cap_Bitcoin,Open_Dash,High_Dash,Low_Dash,Close_Dash,Volume_Dash,Market Cap_Dash
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"