## API Exceptions

Not every call placed to an API will return a result. In this activity, you will use try/except to handle errors from API calls.

### Instructions

* Loop through the characters in the list and send a request to the Star Wars API.

* Create a try clause and an except clause. In the try clause, append the height, mass and character that is available in the Star Wars API. If the character is not available in the Star Wars API, use the except clause to print a message and `pass`.

* Create a DataFrame from the results.

* Drop any rows with null values to remove characters not in the Star Wars universe.

In [32]:
import json
import requests
import pandas as pd

In [33]:
# List of character
search_characters = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo', \
              'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.dev/api/people/?search='

# Set empty lists to hold character's height and mass
height = []
mass = []
sw_characters = []
    
# Loop through each character and make API request
for character in search_characters:
    # Create search query, make request and store in json
    query_url = url + character
    # print(query_url)
    result = requests.get(query_url).json()
    # Try to grab the height and mass of characters if they are available in the Star Wars API
    try:
        sw_characters.append(result["results"][0]["name"])
        height.append(result["results"][0]["height"])
        mass.append(result["results"][0]["mass"])
    # Handle exceptions for a character that is not available in the Star Wars API
    except:
        print(character + " was not found.")
        pass
        
sw_characters, height, mass

Godzilla was not found.
Frodo was not found.
Iron Man was not found.
Jon Snow was not found.

(['R2-D2', 'Darth Vader', 'Luke Skywalker', 'Boba Fett', 'Han Solo'],
 ['96', '202', '172', '183', '180'],
 ['32', '136', '77', '78.2', '80'])

In [35]:
# Create DataFrame
sw_characters_df = pd.DataFrame({"character": sw_characters,
                                "height": height,
                                "mass": mass})

sw_characters_df.head(10)

        character height  mass
0           R2-D2     96    32
1     Darth Vader    202   136
2  Luke Skywalker    172    77
3       Boba Fett    183  78.2
4        Han Solo    180    80