In [1]:
from sklearn.preprocessing import normalize
from scipy.cluster.hierarchy import dendrogram, linkage
from sklearn.cluster import AgglomerativeClustering
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
import pandas as pd
import os
# file = Path('../Resources/wholesale_customers.csv')
file = os.path.join("Resources", "wholesale_customers.csv")

In [3]:
df = pd.read_csv(file)

In [4]:
df.sample(10)

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
329,1,2,5113,1486,4583,5127,492,739
61,2,3,35942,38369,59598,3254,26701,2017
161,1,3,12434,540,283,1092,3,2233
238,1,1,7363,475,585,1112,72,216
2,2,3,6353,8808,7684,2405,3516,7844
427,1,3,31012,16687,5429,15082,439,1163
239,1,1,47493,2567,3779,5243,828,2253
60,2,3,8590,3045,7854,96,4095,225
172,1,3,955,5479,6536,333,2840,707
419,1,3,8861,3783,2223,633,1580,1521

In [5]:
# Normalize the data
normalized_df = normalize(df)

In [6]:
# check normalized data
normalized_df[0:5]

array([[1.11821406e-04, 1.67732109e-04, 7.08332695e-01, 5.39873747e-01,
        4.22740825e-01, 1.19648904e-02, 1.49505220e-01, 7.48085205e-02],
       [1.25321880e-04, 1.87982820e-04, 4.42198253e-01, 6.14703821e-01,
        5.99539873e-01, 1.10408576e-01, 2.06342475e-01, 1.11285829e-01],
       [1.24839188e-04, 1.87258782e-04, 3.96551681e-01, 5.49791784e-01,
        4.79632161e-01, 1.50119124e-01, 2.19467293e-01, 4.89619296e-01],
       [6.45937822e-05, 1.93781347e-04, 8.56836521e-01, 7.72541635e-02,
        2.72650355e-01, 4.13658581e-01, 3.27490476e-02, 1.15493683e-01],
       [7.91877886e-05, 1.18781683e-04, 8.95415919e-01, 2.14202968e-01,
        2.84996851e-01, 1.55010096e-01, 7.03583502e-02, 2.05294342e-01]])

In [ ]:
# Create a new dataframe with the normalized data

In [ ]:
# Copy column names over to new data frame

In [ ]:
# Perform hierarchical clustering

In [ ]:
# Generate a dendrogram

In [ ]:
# Generate cluster labels with sklearn.cluster's AgglomerativeClustering

In [ ]:
# Create a scatter plot with two of the features