## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import google_map_api_key

# Configure gmaps API key
gmaps.configure(api_key=google_map_api_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City ID,City,Country,Latitude,Longitude,Max Temperature,Humidity,Percent Clouds,Wind Speed,Description,Date
0,0,Avarua,CK,-21.2078,-159.7750,73.45,73,90,6.91,overcast clouds,2021-06-13 01:47:11
1,1,Vaini,TO,-21.2000,-175.2000,77.16,69,40,12.66,scattered clouds,2021-06-13 01:47:11
2,2,Albany,US,42.6001,-73.9662,66.07,82,15,2.30,few clouds,2021-06-13 01:42:32
3,3,Ahuimanu,US,21.4447,-157.8378,87.51,56,40,13.80,scattered clouds,2021-06-13 01:47:12
4,4,Iquique,CL,-20.2208,-70.1431,62.64,78,5,3.20,clear sky,2021-06-13 01:47:12

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
user_min_temp = float(input("What temperature minimum do you prefer?"))
user_max_temp = float(input("What temperature maximum do you prefer?"))

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
user_pref_cities_df = city_data_df.loc[(city_data_df["Max Temperature"] <= user_max_temp) & (city_data_df["Max Temperature"] >= user_min_temp)]

In [11]:
# 4a. Determine if there are any empty rows.
user_pref_cities_df.count()

City ID            420
City               420
Country            418
Latitude           420
Longitude          420
Max Temperature    420
Humidity           420
Percent Clouds     420
Wind Speed         420
Description        420
Date               420
dtype: int64

In [14]:
series = pd.isnull(user_pref_cities_df["Country"])
user_pref_cities_df[series]

,City ID,City,Country,Latitude,Longitude,Max Temperature,Humidity,Percent Clouds,Wind Speed,Description,Date
377,377,Keetmanshoop,NaN,-26.5833,18.1333,61.16,30,28,5.66,scattered clouds,2021-06-13 02:13:17
602,602,Khorixas,NaN,-20.3667,14.9667,60.96,29,16,8.99,few clouds,2021-06-13 02:29:31

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure